body {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  max-width: none;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 2rem;
  width: 100%;
}

.panel {
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
  font-size: 1rem;
}

.panel-heading {
  background-color: #ededed;
  border-radius: 6px 6px 0 0;
  color: #363636;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.25;
  padding: .75em 1em;
}

.panel-block {
  align-items: center;
  color: #363636;
  display: flex;
  justify-content: flex-start;
  padding: .5em .75em;
}

.panel-block:not(:last-child), .panel-tabs:not(:last-child) {
  border-bottom: 1px solid #ededed;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}
















